output "instance_ids" {
  value = aws_instance.this[*].id
}

output "public_ips" {
  value = aws_instance.this[*].public_ip
}

output "public_ip" {
  value = try(aws_instance.this[0].public_ip, null)
}

output "url" {
  value = try("http://${aws_instance.this[0].public_ip}:{{ instance_port }}", null)
}
